<nav class="navbar">
    <ul>
        <li><a routerLink="/home"><img src="assets/img/logo.png" alt="logo"></a></li>
        <li class="dropdown" tabindex="0" (blur)="closeDropdown()">
            <button class="dropdown-toggle" (click)="toggleDropdown()" type="button">
                Kategorije
            </button>
            <ul class="dropdown-menu" [class.show]="isOpen">
                <li><a routerLink="/home" (click)="closeDropdown()">Komedija</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Politika</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Ekonomija</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Automobili</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Gaming</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Sport</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Debata</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Preporučeno</a></li>
                <li><a routerLink="/home" (click)="closeDropdown()">Najnovije</a></li>
            </ul>
        </li>
        <li class="search-bar">
            <input type="text" placeholder="Pretraga⌕" />
        </li>
        <li><a routerLink="/home">Omiljeni</a></li>
        <li><button class="objavi-podcast" routerLink="/home">Objavi podkast</button></li>
        <li><a routerLink="/home"><img [src]="user?.getProfilePic()"  alt="profilna" class="profilna"></a></li>
    </ul>
</nav>