<div *ngIf="podcast" class="video-container">
    <iframe
    *ngIf="embedUrl"
    [src]="embedUrl"
    width="100%"
    height="450"
    frameborder="0"
    allowfullscreen
    style="display:block">
  </iframe>
  <div class="video-info">
      <h2>{{ podcast.title }}</h2>
      <div class="profil-and-fav">
      <a routerLink="/home"><img [src]="profilePicUrl"  alt="profilna" class="profilna"> {{ username }}</a>
      <a class="fav" (click)="toggleFavorite()" [class.fav-active]="isFav">
        ☆
      </a>
      </div>
    <p>{{ podcast.description }}</p>
  </div>
  <div class="ostatak-video-page"> 
    <div class="comment-section">
        <textarea name="comment-content" placeholder="Ostavite komentar"></textarea>
        <button>Objavi</button>
        <p>Funkcija komentari dolazi kasnije</p>
    </div>
     <div class="recommendation-section">
      <h2>{{ recommendationMessage }}</h2>
      <div *ngIf="recommendedPodcast" class="recommended-podcast">
        <a [routerLink]="['/video', recommendedPodcast.id]">
            <app-podcast-card [podcast]="recommendedPodcast"></app-podcast-card>
        </a>
      </div>
    </div>
  </div>
  </div>