.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
}

.video-info{
    text-align: left;
}
.video-info img.profilna {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.video-info a{
    text-decoration: none;
    color: white;
}

.ostatak-video-page{
    display: flex;
    justify-content: space-between;
}
.recommendation-section{
    width: 50%;
}
.comment-section{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-section button{
    border-radius: 25px;
    background-color: rgb(24, 218, 204, 0.8);
    color: #FEFE3A;
    padding: 50px, 10px;
}

.profil-and-fav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fav {
  cursor: pointer;
  font-size: 32px;
  color: white; 
  transition: color 0.2s ease;
}
